.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-image{
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 50px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background: #141414;
  color: #ffffff;
}


.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.magic {
  padding-bottom: 30px;
 }
 .magic-wrapper {
  height: 250px;
  overflow-y: hidden;
  width: 100%;
 }

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


/* Movie Image */
.movie-image {
  height: 300px;
  width: 200px;
  border-radius: 0px;
}

 /* Search Bar */
 .search-bar input[type=text] {
  position: absolute;
  left: 25%;
  padding: 14px;
  width: 510px;
  height: 42px;
}
.search-button {
  position: absolute;
  left: 69%;
}


/* NEW ADDITIONS */
/* Movie Text */
.description-text{
  position: relative;
  top: 0px;
  left: 0px;
  word-wrap: break-word
}

.title-format {
  font-size: 250%;
  font-weight: bold;
}

.description-header {
  font-size: 150%;
  font-weight: bold;
}

.description-body {
  position: relative;
  font-size: 100%;
  top: 5px;
  /* font-weight: bold; */
}

.movie-description {
  position: relative;
  font-size: 100%;
  top: 50x;
}

.float-container1{
  padding: 10px;
}

.float-container2{
  padding: 10px;
}

.image-placement{
  top: -100px;
}

.float-child1 {
  position: relative;
  width: 25%;
  float: left;
  padding: 0px;
  top: 35px;
}  
.float-child2{
  position: relative;
  width: 75%;
  float: left;
  padding: 0px;
  top: 35px;
}  

.add-to-favorites-button {
  position: absolute;
  top: 500x;
  left: 1000px;

}

.user-reviews {
  position: relative;
  top: 100px;
}

.user-reviews-header {
  position: relative;
  font-size: 175%;
  font-weight: bold;
  right: 290px;
  top: 20px;
  /* bottom: 50px; */
}

.user-reviews-text-box {
    position: absolute;
    top: 100px;
    /* top: 100px; */
}
  /* left 100px; */

.user-box {
  position: relative;
  top: 150px;
}

.post-button {
  position: relative;
  top: -30px;
}

.profile-page {
  position: relative;
  top: 30px;
}

.profile-header {
  position: relative;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
}

.profile-username {
  position: relative;
  left: 22px;
  font-size: 150%;
}

/* .profile-name-header {
  position: relative;
  font-size: 100%;
  font-weight: bold;
} */

.profile-username-header {
  position: relative;
  font-size: 100%;
  font-weight: bold;
  display: inline;
}

.recent-reviews {
  position: relative;
  font-size: 100%;
  left: 22px;
}

.recent-reviews-header {
  position: relative;
  font-size: 150%;
  font-weight: bold;
}

.log-out-button {
  position: relative;
  top: 50px;
  left: 22px;
}



.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  bottom: 0px;
  left: 400px;
}

.trailer-label {
  position: absolute;
  bottom: 340px;
  left: 297px;
}

